body, html {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    height: 100%;
    margin: 0;
}

.container {
    max-width: 600px; 
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.input-section {
    margin: 20px 0;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: pink;
    color: #fff;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: rgb(238, 151, 166);
}

.participants-list {
    margin: 20px 0;
    text-align: left;
}

.participants-list ul {
    list-style-type: none;
    padding: 0;
}

.participants-list li {
    background: rgb(239, 200, 206);
    color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.winner-display {
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

.winner-display h3 {
    margin: 0 0 10px 0;
    color: #333;
}

.winner-display p {
    font-size: 1.5rem;
    color: pink;
}

.choose-winner{
    background-color: pink;
    margin-top:20px;
}

.choose-winner:disabled{
    background-color: #ddd;
    cursor: not-allowed;
}

.choose-winner:hover:not(:disabled){
    background-color:rgb(238, 151, 166) ;
}


/* Media Queries pentru ecrane mici (max-width: 768px) */
@media (max-width: 768px) {
    .container {
        max-width: 90%; 
    }

    input[type="text"] {
        width: 100%; 
        margin: 0 0 10px 0; 
    }

    button {
        width: 100%; 
        margin-bottom: 10px; 
    }

    .choose-winner{
        width: 100%;
        margin: 15px 0;
    }

    .participants-list{
        text-align:center;
    }
}

/* Media Queries pentru ecrane foarte mici (max-width: 480px) */
@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem; 
    }

    .winner-display p {
        font-size: 1.2rem; 
    }

    .participants-list li {
        padding: 8px; 
        font-size: 0.9rem; 
    }
}
